.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid #FE4365;
	padding: 20px;
	border-radius: 15px;
	cursor: pointer;
	user-select: none;

	&:hover {
		transition-timing-function: cubic-bezier(.6,4,.3,.8);
		animation: hover 0.5s 1;
	}
}

@keyframes hover {
	from,to{
		-webkit-transform:scale(1, 1);
		transform:scale(1, 1)
	}
	25%{
		-webkit-transform:scale(.9, 1.1);
		transform:scale(.9, 1.1)
	}
	50%{
		-webkit-transform:scale(1.1, .9);
		transform:scale(1.1, .9)
	}
	75%{
		-webkit-transform:scale(.95, 1.05);
		transform:scale(.95, 1.05)
	}
	from,to{
		-webkit-transform:scale(1, 1);
		transform:scale(1, 1)
	}
	25%{
		-webkit-transform:scale(.9, 1.1);
		transform:scale(.9, 1.1)
	}
	50%{
		-webkit-transform:scale(1.1, .9);
		transform:scale(1.1, .9)
	}75%{
		 -webkit-transform:scale(.95, 1.05);
		 transform:scale(.95, 1.05)
	 }

}